
.navbar-nav li a{
    /* border: 1px solid #646d7c; */
    /* padding: 15px 25px; */
    color: #fff;
    font-size: 20px;
    
    
}
.navbar-nav li a:hover{
    background: #49505F;
    text-decoration: none;
}
.navbar-nav {
  padding: 10px;
}

.card h1,p{
 text-align: center;
 color: #fff;
 }
 .card h1{
    margin-top: 170px;
    font-size: 70px;
    text-transform: uppercase;
    text-shadow: 2px 2px #000;
  }
  .card p{
    font-size: 25px;
    text-shadow: 1px 1px #333;
  }

 
 #section2{
    margin-top:-10px;
 }
 
 .feature-content {
    background: #F2F2F2;
    padding-bottom: 40px;
}
.feature-content-title {
    padding: 0 20px;
    text-align: left;    
}
.feature-content-description {
    padding: 0 20px 35px;
    text-align: left;
    color: #333333;
    margin-top: 15px;
}
.feature-content-link {
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    padding: 10px 30px;
    text-decoration: none;
    text-transform: capitalize;
    -webkit-transition: all 0.3s ease;
            transition: all 0.3s ease;
}
.feature-content-link:hover, .feature-content-link:link, .feature-content-link:visited  {
  color: white;
  text-decoration: none;
}
.green-text {
   color: #178A27; 
  }
.blue-text {
   color: #1686C1; 
  }
.gray-text { 
  color: #1686C1; 
}
.green-btn { 
  background: #178A27; 
}
.green-btn:hover { 
  background: #449D44; 
}
.blue-btn { 
  background: #1686C1;
 }
.blue-btn:hover {
   background: #31B0D5; 
  }
.red-btn { 
  background: #852406; 
}
.red-btn:hover { 
  background: #C9302C;
 }
#blog-area {
    margin: 60px 0px;
}
.blog-content {
  background: #F2F2F2;
  padding-bottom:25px;
  max-width:1700px;
  /* margin:10px; */
}
.blog-content h2 {
    color: #666666;
    text-transform: capitalize;
}
.blog-content p {
    padding: 27px;
    text-align: left;
    color: #333333;
}
.blog-content span {
  margin-left: 190px;
}
.blog-content span a {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    color: #666666;
    font-size: 18px;
    padding: 10px 30px;
    text-decoration: none;
    text-transform: capitalize;
}
.blog-content span a:hover {
    background: #E6E6E6 ;
}
#section3{
  margin-top:-20px;
}

#services-area{
  float: left;
  width: 100%;
  margin-top:20px;
}
.our-service{
/* margin:65px 0px 85px; */
margin-top:-150px;
}

.service  h1 {
color: #fff;
text-transform: capitalize;
text-shadow: 2px 2px #aaa;
margin-bottom:10px;
}
.service p {
  color: #fff;
  font-size:18px;
}
/* End Services CSS */

/* Start Testimornial CSS */
#testimornial-area{
margin: 60px 0;
/* margin-top:100px; */
}
.testimornial-content h2 {
  color: #666666;
}
.testimornial-content {
background-color: #f2f2f2;
height: 700px;
max-width: 500px;
margin: 0 auto 30px;
margin-top: 100px;
}
.testimornial-content  p {
  padding: 10px 20px;
  text-align: left;
  color: #333333;
}
.content-link {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #cdcdcd;
  border-radius: 10px;
  color: #666;
  display: inline-block;
  font-size: 18px;
  padding: 10px 30px;
  text-decoration: none;
  text-transform: capitalize;
  margin-top:60px;
  -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease;
}
.content-link:hover,
.content-link:focus {
  background: #E6E6E6 none repeat scroll 0 0;
}
/* .tm-box-description{
  background-color: #f2f2f2;
  height: 350px;
  max-width:1140px;

}
.tm-box-description h2{
  color: #666666;
  margin-left: 16px;
  
}
.tm-box-description p{
  padding: 10px 20px;
  text-align: left;
  color: #333333;
} */

.about-section {
  height: 100%;
  padding-top: 70px;
}

.services-section {
  height: 100%;
 /* padding-top: 150px;*/
}
.tm-box {
background-color: #F2F2F2;
max-width: 1500px;
/* width: 100%; */
/* margin:20px; */
}
.tm-box-description h2{
  color: #666666;
  margin-left: 16px;
  
}
.tm-box-description p{
  padding: 10px 20px;
  text-align: left;
  color: #333333;

}
.content-link1 {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #cdcdcd;
  border-radius: 10px;
  color: #666;
  display: inline-block;
  font-size: 18px;
  padding: 10px 30px;
  text-decoration: none;
  text-transform: capitalize;
  margin-bottom:20px;
  -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease;
          margin-left: 16px;
}
.content-link1:hover,
.content-link1:focus {
  background: #E6E6E6 none repeat scroll 0 0;
}
#section4{
  margin-top:-10px;
}
.contact-section {
  height: 100%;
  padding-top: 80px;
  padding-bottom: 60px;
}
.form-control {
color: #000;
border: none;
background: rgba(242, 242, 242, 0.4);
}
.contact-section .container {
max-width: 750px;
}
.contact-content{
  margin-top:-560px ;
  
}
.contact-content h1{
color: #fff;
text-shadow: 2px 2px #000;
}
.contact-content p{
  color:#333333 ;
  padding: 10px 20px;
  border-radius: 10px;
  /* border: 1px solid #aaa; */
  border: none;
  background: rgba(242, 242, 242, 0.4);
  margin-top:10px;
  }
.contact-form{
  margin-top:-340px;
  
}
#mail{
  margin-top:10px;
  
}
#subject{
  margin-top: 10px;
}
#comment{
  margin-top: 10px;
  }
.btn{
  margin-top: 10px;
  background-color: #1e1c1c;
  padding: 5px 20px;
  border: 1px solid #aaa;
}